h1 {
	text-align: center; 
	padding: 5%; 
}

p {
	text-align: center; 
	font-size: 30px; 
}

#answers {
	text-align: center;
	font-size: 30px; 
	width: 260px;
	margin: 20%;
	padding: 5%;
	margin: 0 auto; 
}

